In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
df = DataFrame({'sex':['man','man','women','women','man','women','man','women','women'],
               'age':[15,23,25,17,35,57,24,31,22],
               'smoke':[True,False,False,True,True,False,False,True,False],
               'height':[168,179,181,166,173,178,188,190,160]})
df

   age  height    sex  smoke
0   15     168    man   True
1   23     179    man  False
2   25     181  women  False
3   17     166  women   True
4   35     173    man   True
5   57     178  women  False
6   24     188    man  False
7   31     190  women   True
8   22     160  women  False

### 透视表

各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具。它根据一个或多个键对数据进行聚合，并根据行和列上的分组键将数据分配到各个矩形区域中

行分组透视表 设置index参数

In [5]:
pd.pivot_table(df,values='height',index='sex',aggfunc='sum')

       height
sex
man       708
women     875

列分组透视表 设置columns参数

In [6]:
pd.pivot_table(df,values='height',columns='sex',aggfunc='sum')

sex     man  women
height  708    875

行列分组的透视表  同时设定index、columns参数

In [9]:
pd.pivot_table(df,values='height',columns='sex',index='smoke',aggfunc='mean')

sex      man  women
smoke
False  183.5  173.0
True   170.5  178.0

aggfunc：设置应用在每个区域的聚合函数，默认值为np.mean

fill_value：替换结果中的缺失值

### 交叉表

是一种用于计算分组频率的特殊透视图,对数据进行汇总

pd.crosstab(index,colums)

- index:分组数据，交叉表的行索引
- columns:交叉表的列索引

In [11]:
# 【注意】传递的行列标签需要使用表格对象.属性的方式，不然不知道操作哪个数据
pd.crosstab(df.sex,df.smoke)

smoke  False  True
sex
man        2      2
women      3      2