In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.neighbors import KNeighborsClassifier

In [3]:
adults = pd.read_csv('adults.txt')

In [5]:
adults.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
adults['marital_status'].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [25]:
train = adults[['age','workclass','education_num','occupation','hours_per_week','sex']].copy()
target = adults['salary'].copy()

train.columns

Index(['age', 'workclass', 'education_num', 'occupation', 'hours_per_week',
       'sex'],
      dtype='object')

In [9]:
train.shape

(32561, 14)

In [ ]:
# 特征提取  主观意愿 进行筛选
# 特征选择  运算 方差几乎为0

In [15]:
train['occupation'].unique()

array(['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners',
       'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair',
       'Transport-moving', 'Farming-fishing', 'Machine-op-inspct',
       'Tech-support', '?', 'Protective-serv', 'Armed-Forces',
       'Priv-house-serv'], dtype=object)

In [12]:
# 独热编码
# 自定义关联的关系来映射
train['workclass']

,age,workclass,education_num,occupation,hours_per_week,sex
0,39,State-gov,13,Adm-clerical,40,Male
1,50,Self-emp-not-inc,13,Exec-managerial,13,Male
2,38,Private,9,Handlers-cleaners,40,Male
3,53,Private,7,Handlers-cleaners,40,Male
4,28,Private,13,Prof-specialty,40,Female
5,37,Private,14,Exec-managerial,40,Female
6,49,Private,5,Other-service,16,Female
7,52,Self-emp-not-inc,9,Exec-managerial,45,Male
8,31,Private,14,Prof-specialty,50,Female
9,42,Private,13,Exec-managerial,40,Male
10,37,Private,10,Exec-managerial,80,Male
11,30,State-gov,13,Prof-specialty,40,Male
12,23,Private,13,Adm-clerical,30,Female
13,32,Private,12,Sales,50,Male
14,40,Private,11,Craft-repair,40,Male
15,34,Private,4,Transport-moving,45,Male
16,25,Self-emp-not-inc,9,Farming-fishing,35,Male
17,32,Private,9,Machine-op-inspct,40,Male
18,38,Private,7,Sales,50,Male
19,43,Self-emp-not-inc,14,Exec-managerial,45,Female
20,40,Private,16,Prof-specialty,60,Male
21,54,Private,9,Other-service,20,Female
22,35,Federal-gov,5,Farming-fishing,40,Male
23,43,Private,7,Transport-moving,40,Male
24,59,Private,9,Tech-support,40,Female
25,56,Local-gov,13,Tech-support,40,Male
26,19,Private,9,Craft-repair,40,Male
27,54,?,10,?,60,Male
28,39,Private,9,Exec-managerial,80,Male
29,49,Private,9,Craft-repair,40,Male
...,...,...,...,...,...,...
32531,30,?,13,?,99,Female
32532,34,Private,16,Prof-specialty,60,Male
32533,54,Private,13,Exec-managerial,50,Male
32534,37,Private,10,Adm-clerical,39,Female
32535,22,Private,8,Protective-serv,35,Male
32536,34,Private,13,Exec-managerial,55,Female
32537,30,Private,9,Craft-repair,46,Male
32538,38,Private,13,Prof-specialty,45,Female
32539,71,?,16,?,10,Male
32540,45,State-gov,9,Adm-clerical,40,Female
32541,41,?,9,?,32,Female
32542,72,?,9,?,25,Male
32543,45,Local-gov,12,Prof-specialty,48,Female
32544,31,Private,14,Other-service,30,Female
32545,39,Local-gov,12,Adm-clerical,20,Female
32546,37,Private,12,Tech-support,40,Female
32547,43,Private,9,Machine-op-inspct,40,Male
32548,65,Self-emp-not-inc,15,Prof-specialty,60,Male
32549,43,State-gov,10,Adm-clerical,40,Female
32550,43,Self-emp-not-inc,10,Craft-repair,50,Male
32551,32,Private,6,Handlers-cleaners,40,Male
32552,43,Private,11,Sales,45,Male
32553,32,Private,14,Tech-support,11,Male
32554,53,Private,14,Exec-managerial,40,Male
32555,22,Private,10,Protective-serv,40,Male
32556,27,Private,12,Tech-support,38,Female
32557,40,Private,9,Machine-op-inspct,40,Male
32558,58,Private,9,Adm-clerical,40,Female
32559,22,Private,9,Adm-clerical,20,Male
32560,52,Self-emp-inc,9,Exec-managerial,40,Female

In [17]:
# 确认样本集中的数据类型
train.dtypes

age                int64
workclass         object
education_num      int64
occupation        object
hours_per_week     int64
sex               object
dtype: object

In [22]:
np.argwhere(unique_arr == 'Self-emp-not-inc')[0,0]

1

In [28]:
def trans_objdata(columnname):
    unique_arr = train[columnname].unique()

    def map_function(item):
        return np.argwhere(unique_arr == item)[0,0]

    train[columnname] = train[columnname].map(map_function)

In [29]:
trans_objdata('occupation')
trans_objdata('sex')

In [30]:
# 初步完成数据值的映射
train

       age  workclass  education_num  occupation  hours_per_week  sex
0       39          0             13           0              40    0
1       50          1             13           1              13    0
2       38          2              9           2              40    0
3       53          2              7           2              40    0
4       28          2             13           3              40    1
5       37          2             14           1              40    1
6       49          2              5           4              16    1
7       52          1              9           1              45    0
8       31          2             14           3              50    1
9       42          2             13           1              40    0
10      37          2             10           1              80    0
11      30          0             13           3              40    0
12      23          2             13           0              30    1
13      32          2             12           5              50    0
14      40          2             11           6              40    0
15      34          2              4           7              45    0
16      25          1              9           8              35    0
17      32          2              9           9              40    0
18      38          2              7           5              50    0
19      43          1             14           1              45    1
20      40          2             16           3              60    0
21      54          2              9           4              20    1
22      35          3              5           8              40    0
23      43          2              7           7              40    0
24      59          2              9          10              40    1
25      56          4             13          10              40    0
26      19          2              9           6              40    0
27      54          5             10          11              60    0
28      39          2              9           1              80    0
29      49          2              9           6              40    0
...    ...        ...            ...         ...             ...  ...
32531   30          5             13          11              99    1
32532   34          2             16           3              60    0
32533   54          2             13           1              50    0
32534   37          2             10           0              39    1
32535   22          2              8          12              35    0
32536   34          2             13           1              55    1
32537   30          2              9           6              46    0
32538   38          2             13           3              45    1
32539   71          5             16          11              10    0
32540   45          0              9           0              40    1
32541   41          5              9          11              32    1
32542   72          5              9          11              25    0
32543   45          4             12           3              48    1
32544   31          2             14           4              30    1
32545   39          4             12           0              20    1
32546   37          2             12          10              40    1
32547   43          2              9           9              40    0
32548   65          1             15           3              60    0
32549   43          0             10           0              40    1
32550   43          1             10           6              50    0
32551   32          2              6           2              40    0
32552   43          2             11           5              45    0
32553   32          2             14          10              11    0
32554   53          2             14           1              40    0
32555   22          2             10          12              40    0
32556   27          2             12          10              38    1
32557   40          2              9           9              40    0
32558   58          2              9           0              40    1
32559   22          2              9           0              20    0
32560   52          6              9           1              40    1

[32561 rows x 6 columns]

In [31]:
# 算法选择
knn = KNeighborsClassifier(n_neighbors=5)

In [32]:
# 拆分训练集和测试集
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(train,target,test_size=0.2,random_state=1)

In [33]:
# 训练
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [37]:
y_ = knn.predict(X_test)

In [40]:
(y_ == y_test).sum()/y_.size

0.7879625364655305

In [45]:
train / train.sum()

,age,workclass,education_num,occupation,hours_per_week,sex
0,0.000031,0.000000,0.000040,0.000000,0.000030,0.000000
1,0.000040,0.000013,0.000040,0.000007,0.000010,0.000000
2,0.000030,0.000027,0.000027,0.000013,0.000030,0.000000
3,0.000042,0.000027,0.000021,0.000013,0.000030,0.000000
4,0.000022,0.000027,0.000040,0.000020,0.000030,0.000093
5,0.000029,0.000027,0.000043,0.000007,0.000030,0.000093
6,0.000039,0.000027,0.000015,0.000026,0.000012,0.000093
7,0.000041,0.000013,0.000027,0.000007,0.000034,0.000000
8,0.000025,0.000027,0.000043,0.000020,0.000038,0.000093
9,0.000033,0.000027,0.000040,0.000007,0.000030,0.000000
10,0.000029,0.000027,0.000030,0.000007,0.000061,0.000000
11,0.000024,0.000000,0.000040,0.000020,0.000030,0.000000
12,0.000018,0.000027,0.000040,0.000000,0.000023,0.000093
13,0.000025,0.000027,0.000037,0.000033,0.000038,0.000000
14,0.000032,0.000027,0.000034,0.000039,0.000030,0.000000
15,0.000027,0.000027,0.000012,0.000046,0.000034,0.000000
16,0.000020,0.000013,0.000027,0.000053,0.000027,0.000000
17,0.000025,0.000027,0.000027,0.000059,0.000030,0.000000
18,0.000030,0.000027,0.000021,0.000033,0.000038,0.000000
19,0.000034,0.000013,0.000043,0.000007,0.000034,0.000093
20,0.000032,0.000027,0.000049,0.000020,0.000046,0.000000
21,0.000043,0.000027,0.000027,0.000026,0.000015,0.000093
22,0.000028,0.000040,0.000015,0.000053,0.000030,0.000000
23,0.000034,0.000027,0.000021,0.000046,0.000030,0.000000
24,0.000047,0.000027,0.000027,0.000066,0.000030,0.000093
25,0.000045,0.000053,0.000040,0.000066,0.000030,0.000000
26,0.000015,0.000027,0.000027,0.000039,0.000030,0.000000
27,0.000043,0.000066,0.000030,0.000072,0.000046,0.000000
28,0.000031,0.000027,0.000027,0.000007,0.000061,0.000000
29,0.000039,0.000027,0.000027,0.000039,0.000030,0.000000
...,...,...,...,...,...,...
32531,0.000024,0.000066,0.000040,0.000072,0.000075,0.000093
32532,0.000027,0.000027,0.000049,0.000020,0.000046,0.000000
32533,0.000043,0.000027,0.000040,0.000007,0.000038,0.000000
32534,0.000029,0.000027,0.000030,0.000000,0.000030,0.000093
32535,0.000018,0.000027,0.000024,0.000079,0.000027,0.000000
32536,0.000027,0.000027,0.000040,0.000007,0.000042,0.000093
32537,0.000024,0.000027,0.000027,0.000039,0.000035,0.000000
32538,0.000030,0.000027,0.000040,0.000020,0.000034,0.000093
32539,0.000057,0.000066,0.000049,0.000072,0.000008,0.000000
32540,0.000036,0.000000,0.000027,0.000000,0.000030,0.000093
32541,0.000033,0.000066,0.000027,0.000072,0.000024,0.000093
32542,0.000057,0.000066,0.000027,0.000072,0.000019,0.000000
32543,0.000036,0.000053,0.000037,0.000020,0.000036,0.000093
32544,0.000025,0.000027,0.000043,0.000026,0.000023,0.000093
32545,0.000031,0.000053,0.000037,0.000000,0.000015,0.000093
32546,0.000029,0.000027,0.000037,0.000066,0.000030,0.000093
32547,0.000034,0.000027,0.000027,0.000059,0.000030,0.000000
32548,0.000052,0.000013,0.000046,0.000020,0.000046,0.000000
32549,0.000034,0.000000,0.000030,0.000000,0.000030,0.000093
32550,0.000034,0.000013,0.000030,0.000039,0.000038,0.000000
32551,0.000025,0.000027,0.000018,0.000013,0.000030,0.000000
32552,0.000034,0.000027,0.000034,0.000033,0.000034,0.000000
32553,0.000025,0.000027,0.000043,0.000066,0.000008,0.000000
32554,0.000042,0.000027,0.000043,0.000007,0.000030,0.000000
32555,0.000018,0.000027,0.000030,0.000079,0.000030,0.000000
32556,0.000021,0.000027,0.000037,0.000066,0.000029,0.000093
32557,0.000032,0.000027,0.000027,0.000059,0.000030,0.000000
32558,0.000046,0.000027,0.000027,0.000000,0.000030,0.000093
32559,0.000018,0.000027,0.000027,0.000000,0.000015,0.000000
32560,0.000041,0.000080,0.000027,0.000007,0.000030,0.000093

In [43]:
train1 = train[['age','hours_per_week']].copy()
target
knn2 = KNeighborsClassifier(n_neighbors=5)

X_train1,X_test1,y_train1,y_test1 = train_test_split(train1,target,test_size=0.2,random_state=1)


knn2.fit(X_train1,y_train1)

y1_ = knn2.predict(X_test1)
(y1_ == y_test1).sum()/y1_.size

0.742668509135575

In [58]:
train2 = train / train.sum()

X_train2,X_test2,y_train2,y_test2 = train_test_split(train2,target,test_size=0.2,random_state=1)

# 过拟合
# 欠拟合
# 
knn3 = KNeighborsClassifier(n_neighbors=113)
knn3.fit(X_train2,y_train2)

y3_ = knn3.predict(X_test2)
(y3_ == y_test2).sum()/y3_.size

0.8225088284968525

In [59]:
X_train2.columns

Index(['age', 'workclass', 'education_num', 'occupation', 'hours_per_week',
       'sex'],
      dtype='object')